body {
    background-image: url("../images/background.jpg");
    background-color: #cccccc; /*This is here incase my image does not load*/
}
.container {
    border-radius: 8px;
    background-color: black;
    color: whitesmoke;
    opacity: 0.5;
}
#navText {
color: yellow !important;
}
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 8px;
    color: grey;
  }